{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            DanceMatch
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
</head>
<body>
<main>
    {% block content %}
    Content will be placed here
    {% endblock %}
</main>
<header>
    <a href="/">DanceMatch Home</a>
    <a href="/admin">Admin</a>
    <a href="#">Log in</a>
</header>
<footer>
    Footer text here.
</footer>
</body>
</html>