<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            DanceMatch
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}"/>
</head>
<body>
<main>
    {% block content %}
    Content will be placed here
    {% endblock %}
</main>
<header>
    <a href="/">DanceMatch Home</a>
    <a href="/admin">Admin</a>
    <a href="/login">Log in</a>
    <a href="/profile_ajax/">Profile</a>
    <a href="/results/">Search</a>
    <a href="#profile">#Profile</a>
    <a href="#search">#Search</a>
</header>
<footer>
    Footer text here.
</footer>
<script src="/static/scripts/view.js"></script>
<script src="/static/scripts/profile.js"></script>
<script src="/static/scripts/search.js"></script>
<script src="/static/scripts/main.js"></script>
</body>
</html>