{% extends "base_generic.html" %}
{% load staticfiles %}

{% block content %}
    <h1>{{ dancer.name }}</h1>

    <strong>Edit your profile:</strong><br><br>

    <form method="post">
        {% csrf_token %}
        <label>
            Display Name:
            <input value="{{ dancer.name }}" name="name">
        </label>
        <label>
            Find me a buddy!
            <input type="checkbox" name="active_member" {% if dancer.active_member %}checked{% endif %} />
        </label>
        <label>
            My bio:
            <textarea name="bio">{{ dancer.bio }}</textarea>
        </label>
        <label>
            Email:
            <input value="{{ dancer.email }}" name="email">
        </label>
        <input type="submit" value="SAVE"/>
    </form>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% endblock %}
