{% extends "base_generic.html" %}
{% load staticfiles %}

{% block content %}

<script>
    var user_id = {{ user.id }}
//    document.write("User ID: " + user_id);
</script>


<h1>DanceMatch</h1>
<p>
    An app to connect dancers with practice partners.
</p>
<p>
    Add which dance styles you do and what your goals are for each,
    to help others find you.
</p>
<p>
    Search for other dancers's added dances, and find who you can help.
</p>
<p class="login"><a href="/login/">Log in to your account.</a></p>
<p><a href="/register/">Register for a new account.</a></p>

{% endblock %}
