{% extends "base_generic.html" %}
{% load staticfiles %}

{% block content %}


<script>
    var user_id = {{ user.id }}
    var dancer_id = {{ user.dancer.id }}

    document.write("test for user ID: " + user_id + " -- dancer ID: " + dancer_id);
    // Draw Loaded Data

    var models = {};

    function select_options(select, data, name_field, id_field, selected) {
//        var not_set = true;
        for (var i = 0; i < data.length; i++) {
            var option = document.createElement('option');
            option.innerHTML = data[i][name_field];
            option.setAttribute("value", data[i][id_field]);
            if (data[i][name_field] == selected) {
                option.setAttribute("selected", "selected");
//                not_set = false;
            }
            select.appendChild(option);
        }
//        if (not_set) {
//            option.innerHTML = "(optional)";
//            option.setAttribute("selected", "selected");
//        }
    }

    // Draws select options in editable div of li
    function draw_selects(clone, current_pref) {
        var model_lists = ["dance_list", "role_list", "skill_level_list", "activity_list", "goal_list"];
        for (i = 0; i < model_lists.length; i++) {
            current_model = model_lists[i];
            select_options(clone.getElementsByClassName(current_model)[0],
                    window.models[current_model], "name", "id", current_pref.current_model);
        }
    }


    // Draws each pref li in template
    function draw_list(clone, current_pref) {
        var models = ["dancer", "dance", "role", "skill_level", "activity", "goal", "notes"];
        for (i = 0; i < models.length; i++) {
            var current_model = models[i];
            var current_li = clone.getElementsByClassName(current_model)[0];
            current_li.setAttribute("data-model", current_model);
            // For optional fields:
            if (current_pref.current_model) {
                current_li.innerHTML = current_pref.current_model;
            } else {
                current_li.innerHTML = "";
            }
            // For corresponding edit div, not including notes
//            draw_selects(clone, current_pref);
//            var selected_dance = current_pref.dance;
//                select_options(clone.getElementsByClassName("dance_list")[0],
//                        window.models["dance_list"], "name", "id", selected_dance);
        }

    }

    // Draws edit/new pref div
    function drawEditPref(parent, current_pref, param, model_list_name) {
        var selected = current_pref[param];
        select_options(parent.getElementsByClassName(model_list_name)[0],
                window.models[model_list_name], "name", "id", selected);
    }


    function drawProfile(data, user_id) {
        var profile = document.getElementById("profile");
        // only one dict in list
        var p_dict = data[0];
        console.log(data);
        console.log(p_dict);
        profile.getElementsByClassName("username")[0].innerText = p_dict["username"];
        profile.getElementsByClassName("first_name")[0].innerText = p_dict["first_name"];
        profile.getElementsByClassName("last_name")[0].innerText = p_dict["last_name"];
        profile.getElementsByClassName("bio")[0].innerText = p_dict["bio"];
        profile.getElementsByClassName("profile_img")[0].setAttribute('src', p_dict["profile_img"]);

        // fill & hide edit fields
        var edit_div = profile.getElementsByClassName("edit")[0];
        edit_div.classList.add("hide");
        profile.getElementsByClassName('edit_field')[0].value = p_dict["first_name"];
        profile.getElementsByClassName('edit_field')[1].value = p_dict["last_name"];
        profile.getElementsByClassName('edit_field')[2].value = p_dict["bio"];

        add_profile_listeners();

        toggle_button = profile.getElementsByClassName("edit_toggle")[0];
        add_toggle_listener(toggle_button);
    }


    function draw(data, user_id) {
        var pl = document.getElementById("pref_list");
        var template = pl.getElementsByClassName("template")[0];
        console.log(data);

        for (var i = 0; i < data.length; i++) {
            var current_pref = data[i];
//            console.log("current pref:");
//            console.log(current_pref);
            if (!user_id || current_pref.user_id == user_id) {
                console.log("user_id " + user_id);
                var clone = template.cloneNode(true);
                clone.classList.remove("template");
                clone.setAttribute("data-id", current_pref.id);
                // draws li with read-only and edit divs, not incl. last textarea
//                draw_list(clone, current_pref);

                // Read-only div
                clone.getElementsByClassName("dancer")[0].innerHTML = current_pref.user_id;
                clone.getElementsByClassName("dance")[0].innerHTML = current_pref.dance;
                clone.getElementsByClassName("role")[0].innerHTML = current_pref.role;
                clone.getElementsByClassName("skill_level")[0].innerHTML = current_pref.skill_level;
                clone.getElementsByClassName("activity")[0].innerHTML = current_pref.activity;
                clone.getElementsByClassName("goal")[0].innerHTML = current_pref.goal;
                clone.getElementsByClassName("notes")[0].innerHTML = current_pref.notes;

                // Edit div
                var edit_div = clone.getElementsByClassName("edit")[0];
                edit_div.classList.add("hide");
                drawEditPref(clone, current_pref, "dance", "dance_list");
                drawEditPref(clone, current_pref, "role", "role_list");
                drawEditPref(clone, current_pref, "skill_level", "skill_level_list");
                drawEditPref(clone, current_pref, "activity", "activity_list");
                drawEditPref(clone, current_pref, "goal", "goal_list");
                clone.getElementsByClassName("notes_textarea")[0].innerHTML = current_pref.notes;

                toggle_button = clone.getElementsByClassName("edit_toggle")[0];
                add_toggle_listener(toggle_button);

                pl.appendChild(clone);
            }

        }
//        document.body.innerHTML = data
        add_listeners();

    }

    function add_profile_listeners() {
        var profile = document.getElementById("profile");
        var edit_fields = profile.getElementsByClassName('edit_field');
        var update = {"user_id": user_id};

        for (i = 0; i < edit_fields.length; i++) {
            current_field = edit_fields[i];
            current_field.addEventListener("change", function(e) {
                var value = e.target.value;
                var field_name = e.target.name;
                update[field_name] = value;
                profile.getElementsByClassName(field_name)[0].innerText = value;

                sendPost(update, "/update_profile/")
            });
        }
    }

    function add_listeners() {
        var pl = document.getElementById("pref_list");
        var edit_fields = pl.getElementsByClassName("edit_field");
        for (i = 0; i < edit_fields.length; i++) {
            var current_field = edit_fields[i];
            console.log("current field = " + current_field);
            current_field.addEventListener("change", function (e) {
                var group_div = e.target.parentElement;
                var pref_id_div = group_div.parentElement;
                var pref_id = pref_id_div.getAttribute("data-id");

                var update = {"user_id": user_id,
                              "pref_id": pref_id};
                var value = e.target.value;
                var text = '';

                // Build update dict & Change values in read-only
                if (e.target.classList.contains("dance_list")) {
                    update["dance"] = value;
                    text = get_new_option(value, "dance_list");
                    pref_id_div.getElementsByClassName("dance")[0].innerText = text;
                } else if (e.target.classList.contains("role_list")){
                    update["role"] = value;
                    text = get_new_option(value, "role_list");
                    pref_id_div.getElementsByClassName("role")[0].innerText = text;
                } else if (e.target.classList.contains("skill_level_list")){
                    update["skill_level"] = value;
                    text = get_new_option(value, "skill_level_list");
                    pref_id_div.getElementsByClassName("skill_level")[0].innerText = text;
                } else if (e.target.classList.contains("activity_list")){
                    update["activity"] = value;
                    text = get_new_option(value, "activity_list");
                    pref_id_div.getElementsByClassName("activity")[0].innerText = text;
                } else if (e.target.classList.contains("goal_list")){
                    update["goal"] = value;
                    text = get_new_option(value, "goal_list");
                    pref_id_div.getElementsByClassName("goal")[0].innerText = text;
                } else if (e.target.classList.contains("notes_textarea")){
                    update["notes"] = value;
                    pref_id_div.getElementsByClassName("notes")[0].innerText = value;
                }

                sendPost(update, "/update_pref/");
            });
        }
    }

    // Update read-only values
    function get_new_option(value, model) {
        var option_list = window.models[model];
        var option_count = option_list.length;
        var text = "NOPE";
        for (i = 0; i < option_count; i++) {
            var option = option_list[i];
            if (option.id == value) {
                text = option.name;
                break;
            }
        }
        return text;
    }


    // Show/hide
    function add_toggle_listener(button) {
        button.addEventListener("click", function(e) {
            var pref_li = button.parentElement.parentElement;
            var edit_div = pref_li.getElementsByClassName("edit")[0];
            var read_div = pref_li.getElementsByClassName("read")[0];
            edit_div.classList.toggle("hide");
            read_div.classList.toggle("hide");
            button.classList.toggle("show_edit");
            if (button.classList.contains("show_edit")) {
                button.innerText = "Done";
            } else {
                button.innerText = "Edit";
            }
        });
    }


    // AJAX POST
    function sendPost(item, url) {
        var form_data = new FormData();

        for (var key in item) {
            form_data.append(key, item[key]);
        }

        var request = new XMLHttpRequest();
        request.open("POST", url);
        request.send(form_data);
    }

    function model_api(object_type) {
        // get list of e.g. dances for dropdown
        var url = "/api_" + object_type + "/";
        var request = new XMLHttpRequest();
        request.open("GET", url);
        console.log(request);

        //For pre html5 browsers use onstatuschanged
        request.onloadend = function (e) {
            var json_string = e.currentTarget.responseText;
            var data = JSON.parse(json_string);
            window.models[object_type] = data;
        };

        request.send();
    }

    model_api("dance_list");
    model_api("role_list");
    model_api("skill_level_list");
    model_api("activity_list");
    model_api("goal_list");


    // BEGIN WEB REST API CALL TO GET JSON DATA
    function ApiCall(url, function_name) {
        var request = new XMLHttpRequest();
        request.open("GET", url);

        //For pre html5 browsers use onstatuschanged
        request.onloadend = function (e) {
            var json_string = e.currentTarget.responseText;
            var data = JSON.parse(json_string);
            function_name(data, user_id);
        };
        request.send();
    }

    ApiCall("/api_dance_prefs/", draw);
    ApiCall("/api_profile/", drawProfile);


</script>


<h1>{{ dancer.name }}</h1>

<div id="profile">
    <div class="read">
        <img src="" class="profile_img">
        <span class="username">Username</span>
        <span class="first_name">First Name</span>
        <span class="last_name">Last Name</span>
        <span class="bio">Bio goes here</span>
    </div>
    <div class="edit">
        <p>
            <a href="/img_upload/">Upload a new image.</a>
        </p>
        <input class="edit_field" type="text" name="first_name" placeholder="First Name">
        <input class="edit_field" type="text" name="last_name" placeholder="Last Name">
        <textarea class="edit_field" name="bio" rows="4" cols="50" placeholder="Tell us about yourself!"></textarea>
    </div>
    <div>
        <button class="edit_toggle">Edit</button>
    </div>
</div>

<h2>{{ dancer.user.first_name }}'s Dances</h2>

<a href="/edit/{{ user.id }}/0/">Add a new dance</a>

<div id="pref_list">
    <ul class="pref">
        <li class="selected template">
            <div class="read">
                <span class="dance">Dance Style</span>
                <span class="role">Role</span>
                <span class="skill_level">Skill Level</span>
                <span class="activity">Activity Level</span>
                <span class="goal">Goal</span>
                <span class="notes">Notes here.</span>
                <span class="dancer">Dancer name</span>
            </div>
            <div class="edit">
                <select class="edit_field dance_list">Dance Style</select>
                <select class="edit_field role_list">Role</select>
                <select class="edit_field skill_level_list">Skill Level</select>
                <select class="edit_field activity_list">Activity Level</select>
                <select class="edit_field goal_list">Goal</select>
                <textarea class="edit_field notes_textarea" rows="4" cols="50" placeholder="Describe what you're working on.">Notes here.</textarea>
            </div>
            <div>
                <button class="edit_toggle">Edit</button>
            </div>
        </li>
    </ul>
</div>

<div id="new_pref">
    <div class="edit">
        <select class="edit_field dance_list">Dance Style</select>
        <select class="edit_field role_list">Role</select>
        <select class="edit_field skill_level_list">Skill Level</select>
        <select class="edit_field activity_list">Activity Level</select>
        <select class="edit_field goal_list">Goal</select>
        <textarea class="edit_field notes_textarea" rows="4" cols="50" placeholder="Describe what you're working on.">Notes here.</textarea>
    </div>
    <div>
        <button class="">Save</button>
        <button class="">Cancel</button>
    </div>
</div>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% endblock %}