{% extends "base_generic.html" %}
{% load staticfiles %}

{% block content %}

<script>
    document.write("test");
    // Draw Loaded Data
    function draw(data) {
        var pl = document.getElementById("pref_list");
        var template = pl.getElementsByClassName("template")[0];
        for (var i = 0; i < data.length; i++) {
            console.log(data[i].dance);
            var clone = template.cloneNode(true);
            clone.classList.remove("template");
            clone.getElementsByClassName("dance")[0].innerHTML = data[i].dance;
            clone.getElementsByClassName("role")[0].innerHTML = data[i].role;

            pl.appendChild(clone);
        }
//        document.body.innerHTML = data
    }

    // BEGIN WEB REST API CALL TO GET JSON DATA
    var url = "/api_dance_prefs/";
    var request = new XMLHttpRequest();
    request.open("GET", url);

    //For pre html5 browsers use onstatuschanged
    request.onloadend = function (e) {
        var json_string = e.currentTarget.responseText;
        var data = JSON.parse(json_string);
        draw(data);
    };

    request.send();

</script>


<h1>{{ dancer.name }}</h1>

{% if dancer.active_member %}
    {{ dancer.name }} is looking for a buddy!
{% else %}
    {{ dancer.name }} is not currently looking for a buddy.
{% endif %}

<div class="bio">
    {{ dancer.bio }}
</div>
<div class="contact">
    {{ dancer.email }}
</div>

<br>
<a href="/edit/{{ dancer.id }}">Edit</a>

<h2>{{ dancer.name }}'s Dances</h2>

<a href="/edit/{{ dancer.id }}/0/">Add a new dance</a>

<div id="pref_list">
    <div class="template">
        <h3><span class="dance"></span>: <span class="role"></span></h3>
        <ul class="pref">
        </ul>
    </div>
</div>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% endblock %}